.header {
    background: $purple;
    color: $white;

    &--body {
        @extend %container;
    }

    &--title {
        margin: 0;
        font-size: 8em;
    }

    &--sub-title {
        margin: 0;
        font-weight: 300;
    }

    &--call-to-action {
        background: darken($purple, 20);
        color: $white;
        display: table;
        text-decoration: none;
        margin: 3rem auto;
        padding: 1rem;
        box-shadow: 0 0 20px rgba(black, 0.2);
        border-radius: 5px;
        transition: box-shadow .15s linear, background .15s ease-out;

        &:hover {
            box-shadow: 0 0 40px rgba(black, 0.2);
            background: darken($purple, 10);
        }
    }
}
